@charset "utf-8";

/*

Original Author: Warren Moreno
Date Created: August 22th, 2019
Version: LiveVersion0.1
Date Last Modified: September 12th, 2019
Modified by: Warren Moreno
Modification log:
Filename: print_style.css

*/


/* Hidden Objects */

nav.horizontal, nav, footer {
	display: none;
}


/* Page Box Styles */

@page {
	size: 8.5in 11in;
	margin: 0.5in;
}


/* Typography Styles */

h1 {
	font-size: 28pt;
	line-height: 30pt;
	margin: 0.3in 0in 0.2in;
}

section#homeDisc {
	box-shadow: none;
	
}

div#container {
	border: none;
}

table.events {
	transform: scale(.9);
    page-break-before: always;
	width: 60%;
}

p {
	font-size: 12pt;
	margin: 0.1in 0in 0.1in 0.3in;
	color: black;
	widows: 3;
	orphans: 3;
}

/* List Styles */

ul {
	list-style-type: disc;
	margin-left: 0.5in;
}

/* Image Styles */

figure#figure1, figcaption{
	transform: perspective(0px) rotateX(0deg);
	width: 60%;
	
}

/* Audio Style*/

audio, video {
	display: none;
}

