/*

Original Author: Warren Moreno
Date Created: May 24th, 2019
Version: Live v0.2
Date Last Modified: October 24rd, 2019
Modified by: Warren Moreno
Modification log: div#dateNow added, img#examples added
Filename: styles.css

*/


/*fonts*/
@font-face{ 
	font-family: 'blackjack-fontfacekit';
	src: url('../fonts/blackjack-fontfacekit/web fonts/blackjack_regular_macroman/blackjack-webfont.eot') format('eot'),
	     url('../fonts/blackjack-fontfacekit/web fonts/blackjack_regular_macroman/blackjack-webfont.woff') format('woff'),
	     url('../fonts/blackjack-fontfacekit/web fonts/blackjack_regular_macroman/blackjack-webfont.ttf') format('truetype'),
	     url('../fonts/blackjack-fontfacekit/web fonts/blackjack_regular_macroman/blackjack-webfont.svg') format('svg');
}

/*Nav bar*/
ul {
	list-style-type: none;
	margin: 2%;
	margin-top: 0.5%;
	padding: 2%;
	overflow: hidden;
	background-color: #333;
	border-radius: 50px;
	font-family: blackjack-fontfacekit, Arial, serif;
	font-weight: bold;
	font-size: 1.2em;
}

li {
	float: right;

}

li a {
	background-color: grey;
	box-sizing: border-box;
	border-radius: 50px;
	
	display: block;
	color: brown;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a.active {
    background-color: #922724;
	color: yellowgreen;
	box-sizing: border-box;
	border-radius: 50px;
}

li a:hover:not(.active) {
	background-color: green;
	box-sizing: border-box;
	border-radius: 50px;
	color: white;
}


/* Main*/

body{
	font-family: sans-serif, Arial, serif;
	color:white;
}

main {
	margin: 0 10%;
}

h1 {
	text-align: center;
	font-family: blackjack-fontfacekit, Arial, serif;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 8px ridge gray;

	margin-top: 30px;
	color: #d1633c;
	text-decoration: none;
}

h1 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: auto;
	border-radius: 250px;
}

h2{
	font-family: 'Lobster', cursive, serif;
	color: #d1633c;
	font-size: 1.5em;
	text-decoration: none;
	text-align: center;
}
	
#intro {
	color: #d1633c;
	font-size: 2em;
}

p , address {
	color: brown; 
	font-size: large;
	font-family: Comic_Sans_MS, serif , Arial;
	
}


address {
	padding: 10px;
	text-align: center;
	border-style: ridge;
	border-width: 10px;
	/*border-right: 10px;*/
	border-color: gray;
	background-color: darkgrey;

}

footer {
	/*width: 300px;
	height: 100px;*/
	text-align: center;
	width: 50%;
	padding: 2%;
	margin: auto;
	max-width: 380px;
}

html{
	background-color: black;
	border-style: ridge;
	border-width: 20px;
	border-color: gray;
	/*border-right: auto;*/
}

div {
	border-style: ridge;
	border-width: 10px;
	border-color: gray;
	padding: 10px;
	margin: auto;
	overflow: hidden;
	max-width: 740px;
}

div#dateNow {
	border-style: none;
	border-width: 10px;
	font-family: blackjack-fontfacekit, Arial, serif;
	padding: 10px;
	margin: 0px;
	display: block;
	color: rgb(209, 99, 60);
}

/*****Home******/

img.round{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 50%;
	float: right;
	-webkit-shape-outside: ellipse(200px 200px at 50% 50%);
	shape-outside: ellipse(200px 130px at 50% 50%);
}

/****contact page****/

form {
	font-family: 'Lobster', cursive, serif;
	color: #922724;
	text-align: center;
	
}

#questions, #contactEmail, #phoneNum, #lastName, #firstName {
	background-image: url(../images/creepygrunge.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 1.2em;
	
}

/****Experience page****/

table {
  width: 100%;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #DFA478;
  border-style: solid;
  color: green;
  margin-left: auto;
  margin-right: auto;
  
}

td, th {
  border-width: 2px;
  border-color: #DFA478;
  border-style: solid;
  padding: 15px;
  text-align: center;
}

thead {
  background-color: #DFA478;
  
}

img#examples {
	border-radius: 0;
	border-style: solid;
	border-color: #DFA478;
	border-width: 2px;
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
}

/****Feedback page****/

div > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 30%;
}

div p {
	text-align: center;
}

/****Breakpoint Mobile****/

@media(max-width: 641px) {

	
	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  width: 200px;
	  background-color: transparent;
	  border-radius: 0;
	  top: 50%;
	  left: 50%;
	  
	}
	li {
		float: none;
		text-align: center;

	}
	li a {
	  display: block;
	  color: brown;
	  padding: 8px 16px;
	  text-decoration: none;
	  border-radius: 0;

	}
	li a.active {
		background-color: #922724;
		color: yellowgreen;
		box-sizing: border-box;
		border-radius: 0;
	}

	li a:hover:not(.active) {
		background-color: green;
		box-sizing: border-box;
		border-radius: 0;
		color: white;
	}
	
	fieldset > ul li {
		display: block;
	}
		
	h1 img {
		display: none;
	}
	img.round {
		display: none;
	}
	html {
		background-image: url(../images/code-coder-coding-270404.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	html > img {
	height: 20%;
	width: 20%;
	}
	div > p {
		text-align: center;
	}
	div {
		background-color: rgba(255, 240, 240, 0.88);
		margin: auto;
		min-width: 350px;
	}
	div#dateNow {
		font-size: 1.3em;
		line-height: 1.2em;
		top: 40px;
		background: none;
	}
	footer {
	/*width: 300px;
	height: 100px;*/
	text-align: center;
	width: 50%;
	padding: 2%;
	margin: auto;
	}
	
	footer > p {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;

	}
	
	address {
	min-width: 205px;
	}
	
	html {
		min-width: 475px;
	}
}

/***Breakpoint Tablet ***/

@media (min-width: 642px) {
	fieldset > ul {
		max-width: 520px;
		margin: auto;
	}
	fieldset > ul li {
		display: block;
	}
	
	fieldset{
		max-width: 550px;
		margin: auto;
	}
	
	header {
		background-image: none;
	}
	
	html {
		background-image: url(../images/technologyvectorblue.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	div {
		background-color: rgba(255, 240, 240, 0.88);
	}
	div#dateNow {
		font-size: 1.4em;
		line-height: 1.2em;
		top: 40px;
		background: none;
	}
	img.round{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 20%;
	float: none;
	-webkit-shape-outside: ellipse(200px 200px at 50% 50%);
	shape-outside: ellipse(200px 100px at 50% 50%);
	}

}

/***Breakpoint Computer/Laptop ***/

@media (min-width: 1040px ) {
	html {
		background-image: url(../images/skullsBknWht.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	div {
		background-color: rgba(255, 240, 240, 0.88);
	}
	div#dateNow {
		font-size: 1.6em;
		line-height: 1.2em;
		top: 40px;
		background: none;
	}
	img.round{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 50%;
	float: left;
	-webkit-shape-outside: ellipse(100px 130px at 50% 50%);
	shape-outside: ellipse(200px 130px at 50% 50%);
	}
}
