@charset "utf-8";

/*

Original Author: Warren Moreno
Date Created: August 30th, 2019
Version: LiveVersion0.1
Date Last Modified: September 12th, 2019
Modified by: Warren Moreno
Modification log: 
Filename: visual_about_us.css

*/

@font-face{ 
	font-family: Rye;
	src: url('../fonts/Rye/Rye-Regular.ttf') format('truetype');
}



/* HTML Style */

html {
	background-image: url(../images/demented_logo.png);
}


/* Page Body Style */

h1 {
	font-family: Rye, Arial, serif;
	text-align: center;
	text-shadow: rgb(221, 227, 168) /*gray*/ -4px -6px 5px;
	color: rgb(143, 21, 42);
	outline: solid;
	background-color: /*gray*/ rgba(128, 128, 128, 0.9);
	padding: 15px;
	margin: 50px 50px 50px 50px;
	
}


p {
	font-family: Rye, "Comic Sans MS", sanserif;
	
}


/* Footer Style */

footer {
	text-align: center;
	display: block;
	background: radial-gradient(white, rgb(106, 42, 130), rgb(43, 8, 56));
	padding: 20px;
	font-weight: bold;
	border-radius: 10px;
	margin-left: 20%;
	margin-right: 20%;
	color: black;
}

footer a:link {
	color: green;
}
footer a:visted {
	color: blue;
}
footer a:hover {
	text-decoration: none;
	color: white;
}
footer a:active {
	color: black;
}

/* Nav Style */

nav {
	position: relative;
	padding-left: 50px;
	padding-right: 50px; 
}


ul {
	list-style-type: none;
	margin: 2%;
	margin-top: 0.5%;
	padding: 20px;
	overflow: hidden;
	background: radial-gradient(white, rgb(106, 42, 130), rgb(43, 8, 56));
	border-radius: 50px;
	font-weight: bold;
	font-size: 1.2em;
	max-width: 760px;
	min-width: 440px;
	display: block;
	
}

li {
	float: left;
	position: relative;
	

}

li a {
	
	background: linear-gradient(to right, skyblue, rgb(3, 96, 150), rgb(3, 59, 92));
	box-sizing: border-box;
	border-radius: 50px;
	
	display: block;
	color: yellow;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a.active {
    
	background: radial-gradient( rgb(146, 39, 36), rgb(102, 35, 33));
	color: white;
	box-sizing: border-box;
	border-radius: 50px;
	
}

li a:hover:not(.active) {
	background: linear-gradient(to left, orange, rgb(181, 111, 13), rgb(123, 110, 33));
	box-sizing: border-box;
	border-radius: 50px;
	color: black;
}

/**********************************************/


/* Section Style */

section#discovery {
	display: block;
	text-align: center;
	background-image: url(../images/creepygrunge.png);
	border: 10px groove rgb(122, 11, 46);
	background-position: center;
	background-size: cover;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}


/*P Styles*/
p.group {
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
	text-align: center;
	color: white;
}

p.cardGame {
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
	text-align: center;
	color: white;
}

p.vidDesc {
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
	text-align: center;
	color: white;
}

/* Figure Styles*/

figure.aboutImage {
	margin: 20px auto 0px;
	width: 60%;
	
}

figure.aboutImage img {
	display: block;
	width: 100%;
	border-radius: 50%;
	border: 2.5px solid rgb(122, 11, 46);
}

table.storeHours {
	color: rgb(245, 28, 96);
	background: gray;
	border: 5px outset rgb(245, 28, 96);
	border-collapse: separate;
	font-size: 1em;
	
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;
}


table.storeHours th {
	background: #333; 
	color: white; 
	font-weight: bold; 
}

table.storeHours td, table.storeHours th {
	padding: 6px; 
	border: 1px solid #ccc; 
	text-align: left;
}


/* Audio Style */

audio {
	
	box-shadow: rgb(51, 51, 51) 8px 8px 15px;
	display: block;
	margin: 10px auto;
	width: 90%;
}

audio {
	background-color: gray;
	border-radius: 50%;
	padding: 2px;
}


